
body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

h2 {
  font-size: 26px;
  color: dimgray;
}

.mt16 {
  margin-top: 16px;
}

.mt8 {
  margin-top: 8px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.btn {
  display: grid;
  width: 100px;
  height: 40px;
  color: white;
  font-size: 22px;
  border-radius: 5px;
  place-items: center;
}

