:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  padding-top: 15px;
}

.example-container {
  height: max-content;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  border: 1px solid black;
}

.mat-mdc-header-row {
  background: #c3d0db;
}

.mat-mdc-row:nth-child(even) .mat-mdc-cell {
  background: white;
}

.mat-mdc-row:nth-child(odd) .mat-mdc-cell {
  background: #ebf4fc;
}

.mat-column-id {
  text-align: center;
  padding: 0;
  width: 25px;
  border-right: 1px solid black;
}

.mat-column-title {
  width: 100px;
  border-right: 1px solid black;
}

.mat-column-text {
  width: 600px;
  border-right: 1px solid black;
}

.mat-column-action {
  width: 100px;
}

.wrapper-btn {
  display: flex;
  gap: 8px;
}

.edit-btn {
  background: cornflowerblue;
}

.delete-btn {
  background: red;
}


